$media-max-width: 575px;
$light-blue: #48dbfb;
$color-white: #fff;

.navbar {
  .logo {
    width: 44px;
  }

  .navbar-toggler {
    z-index: 1;
  }

  .nav-link {
    &:hover {
      color: #44dbfb !important;
    }
    @media (max-width: $media-max-width) {
      color: $color-white;
    }
  }

  .navbar-collapse {
    @media (max-width: $media-max-width) {
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      padding: 80px 50px;
      transition: 0.3s linear;
      font-size: 30px;
      background-color: #353b48;
    }
  }
}

section {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  position: relative;

  &.home-content {
    padding: 100px;
    background: url('./assets/background.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;

    @media (max-width: $media-max-width) {
      padding: 100px 0px 150px;

      &.active {
        transform: translateX(-200px);
      }
    }
  }

  .home-container {
    width: 100%;
    h1 {
      font-size: 7vw;
      color: $color-white;
      margin-bottom: 60px;
      font-weight: 700;
    }

    .contact-me-button {
      color: $light-blue;
      font-weight: 500;
      font-size: 15px;
      transition: 0.2s linear;
      width: 30vw;
      min-width: 100px;

      &:hover {
        color: $color-white;
      }
    }
  }
}

.sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100px;

  @media (max-width: $media-max-width) {
    bottom: 50px;
    right: initial;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  li {
    list-style: none;

    a {
      position: relative;
      display: grid;
      place-items: center;
      height: 10vh;
      transition: 0.2s linear;
      color: $color-white;
      font-size: 3em;
      margin: 10px 0 0;

      &:hover {
        color: $light-blue;
      }

      @media (max-width: $media-max-width) {
        font-size: 6vw;
      }
    }
  }
}
